// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$light-blue: #8593c6;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #4fba4e;
$dark-green: #2d7c2b;
$gray: #353535;
$light-gray: #F4F4F4;
$black: #000000;
