hr {
  margin-top: 80px;
  margin-bottom: 60px;
}

.my-dogs {
  h3 {
    font-size: 24px;
    font-weight: bold;
  }
}

.dashboard-header {
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.add-a-dog {
  display: none;
}

.my-rental-requests {
  display: none;
}

.no-pending-message {
  display: flex;

  p {
  margin-top: 20px;
  border-radius: 3px;
  padding: 10px;
  background-color: $message-gray;
  color: $gray;
  border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.tabs {
  margin-bottom: 35px;
}

.tab {
  text-decoration: none;
  color: rgb(180, 180, 180) ;
  margin: 8px;
  font-weight: 400;
  font-size: 20px;
}

.tab:hover {
  text-decoration: none;
  color: rgb(120, 120, 120) ;
  margin: 8px;
  font-weight: 400;
}

.active {
  color: #555555;
  border-bottom: 3px solid #555555;
  padding-bottom: 8px;
}
