.card-show-dog {
  overflow: hidden;
  height: 500px;
  background: #a2a7ba;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 5px;
  position: relative!important;
}

.card-show-dog-infos{
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  border-radius: 5px;
}

.card-show-dog-infos{
  margin: 30px;
}

.card-show-dog img {
  cursor: zoom-in;
  background: #f6f6f6;
  height: 500px;
  border: 30px solid #fff;
  position: relative;
  object-fit: cover;
}

img {
  vertical-align: baseline !important;
}

.card-show-dog h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-show-dog h1{
  font-family: cursive;
  font-size: 80px;
  color: #fff;
  margin-bottom: 32px;
}

.card-show-dog p {
  font-size: 24px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: white;
}

