<h1>Dogs in your area</h1>
  <div class="row">
    <div class="col-8 cards-container">
      <% @dogs.each do |dog| %>
        <%= link_to dog_path(dog), class:"card-dog" do %>
            <img src="https://source.unsplash.com/user/adventure_yuki" />
            <div class="card-dog-infos">
              <div>
                <h2><%= dog.name %></h2>
                <p><%= dog.description %></p>
              </div>
              <h2 class="card-dog-rating"><%= dog.rating %>/5</h2>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>