<h1>Dogs in your area</h1>
<div class="container">
  <div class="row">
    <% @dogs.each do |dog| %>
      <div class="col-md-6">
          <%# photo à afficher %>
          <%= link_to dog.name, dog_path(dog) %>
          <%= dog.address %>
          <%= dog.size %>
      </div>
    <% end %>
  </div>
</div>