  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://www.teahub.io/photos/full/366-3668994_cute-puppies-on-the-ice-wallpaper-for-android.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Share the LOVE of dogs</h3>
          <p class="lead">Connecting dog owners with local dog borrowers for
walks, weekends and holidays.</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1522276498395-f4f68f7f8454?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=749&q=80')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Your LOVE is an unlimited power</h3>
          <p class="lead">Connecting dog owners with local dog borrowers for
walks, weekends and holidays.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">There is no love without compassion</h3>
          <p class="lead">Connecting dog owners with local dog borrowers for
walks, weekends and holidays.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>

<%= render 'shared/searchbar' %>

<div class="homecont">

  <div class="c-left mb-4">
    <div class="card-product-info">
      <h2>Can Dogs Love? A True Story.</h2>
      <p><strong>"Rita and her family believe that it was only the big dog's love of the little girl that caused him to take what he must have considered a life-threatening action. Why should Rocky behave in a way that he certainly felt would risk his life? The rest of the family would be around to feed him and take care of needs."</strong></p>
    </div>
    <div class="home-card-img-cont">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_IwG7zmQ4I0qzQzpJaKIuZdHxJnAULmL-Yw&usqp=CAU" />
    </div>
  </div>

  <div class="c-right mb-4">
    <div class="card-product-info">
      <h2>Luna and her borrower Natasha.</h2>
      <p><strong>"I joined BorrowMyDoggy a few months ago. Kate found me and got in touch as she needed someone to help walk her beautiful Labrador, Luna, whilst she was heavily pregnant at the time. It was a bonus that she lived only a 3 minute walk from me! Since then, I’ve been walking Luna nearly every week and it’s been an absolute joy.”</strong></p>
    </div>
    <div class="home-card-img-cont">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpPEP6x_U-ygyMw-oYX5tbXkbTUfW29kPRgg&usqp=CAU" />
    </div>
  </div>

</div>

</div>

<!-- °°°°° FOOTER °°°°° -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<footer id="dk-footer" class="dk-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="dk-footer-box-info">
                        <a href="index.html" class="footer-logo">
                        </a>
                        <p class="footer-info-text">
                           https://airbnb-dannxs.herokuapp.com
                        </p>
                        <div class="footer-social-link">
                            <h3>Follow us</h3>
                            <ul>
                                <li>
                                    <a href="#" class="text-decoration-none">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-decoration-none">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-decoration-none">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Social link -->
                    </div>
                    <!-- End Footer info -->

                </div>
                <!-- End Col -->
                <div class="col-md-12 col-lg-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="contact-us">
                                <div class="contact-icon">
                                    <i class="fa fa-map-o" aria-hidden="true"></i>
                                </div>
                                <!-- End contact Icon -->
                                <div class="contact-info">
                                    <h3>French Coin</h3>
                                    <p>Somewhere, not here</p>
                                </div>
                                <!-- End Contact Info -->
                            </div>
                            <!-- End Contact Us -->
                        </div>
                        <!-- End Col -->
                        <div class="col-md-6">
                            <div class="contact-us contact-us-last">
                                <div class="contact-icon">
                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                </div>
                                <!-- End contact Icon -->
                                <div class="contact-info">
                                    <h3>00 000 0 1111</h3>
                                    <p>Give us a call</p>
                                </div>
                                <!-- End Contact Info -->
                            </div>
                            <!-- End Contact Us -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Contact Row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-widget footer-left-widget d-flex justify-content-between">
                                <ul>
                                    <li>
                                        <a href="#" class="text-decoration-none">Projects</a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-decoration-none">Our Team</a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-decoration-none">Contact us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                            <div class="col-md-6">
                                <div class="footer-widget footer-left-widget d-flex justify-content-between">
                                    <ul>
                                        <li>
                                            <a href="#" class="text-decoration-none">How it works?</a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-decoration-none">Our History</a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-decoration-none">FAQ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Footer Widget -->

                        <!-- End col -->
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Col -->
            </div>
            <!-- End Widget Row -->
        </div>
        <!-- End Contact Container -->


        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span>Copyright © 2021, All Right Reserved French Coin</span>
                    </div>
                    <!-- End Col -->
                    <div class="col-md-6">
                        <div class="copyright-menu">
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">Terms</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
                <!-- End Row -->
            </div>
            <!-- End Copyright Container -->
        </div>
        <!-- End Copyright -->
        <!-- End Back to top -->
</footer>


