.my-dogs {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-dogs-card {
  display: flex;
  height: 150px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.my-dogs-card-text {
  padding-top: 15px;
}

.my-dogs-card-buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  a {
    font-size: 12px;
    margin-left: 5px;
  }
}

.my-dogs-card-img {
  height: 150px;
  flex: 0 0 150px;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.my-dogs-card-infos {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  flex: 1 1 auto;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card-dog {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 46%;
  margin: 10px;
}

.card-dog > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-dog h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-dog p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-dog .card-dog-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
