.my-dogs-grid {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

@media (max-width: 780px) {
  .my-dogs-grid {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr;
  }
}

.my-dogs-card, .my-rental-request {
  display: flex;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto 0;
}

.my-dogs-card {
  height: 150px;
}

.my-dogs-card-text {
  padding-top: 15px;
}

.my-dogs-card-buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  a {
    font-size: 12px;
    margin-left: 5px;
  }
}

.my-dogs-card-img, .my-rental-request-img {
  background-position: center;
  background-size: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.my-dogs-card-img {
  height: 150px;
  flex: 0 0 150px;
}

.my-dogs-card-infos {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  flex: 1 1 auto;
}

.request-cards {
  height: 250px;
  overflow: scroll;
}

.request-card {
  display: flex;
  border-radius: 3px;
  background-color: white;
  border-bottom: 1px solid $light-gray;
  .request-card-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 65px;
  }
  .request-card-right {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 5px;
    flex: 1 1 auto;
    p {
      margin-bottom: 0;
    }
  }
}

.request-card-buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  margin-bottom: 15px;
  input {
    margin-left: 5px;
    font-size: 12px;
  }
}

// .my-rental-requests {
//   display: flex;
//   flex-direction: column;
// }

.my-rental-request {
  margin-bottom: 20px;
}

.my-rental-request-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-rental-request-right {
  flex: 1 1 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.my-rental-request-status {
  display: flex;
  justify-content: flex-end;
}

.rental-request-message {
  display: flex;
  align-items: center;
  p {
    margin-right: 15px;
  }
}

.my-rental-request-img {
  height: 200px;
  flex: 0 0 200px;
}

.my-rental-request {
  height: 200px;
  margin-bottom: 30px;
  p {
    margin-bottom: 0;
  }
}

.my-rental-request-infos-dog-owner {
  display: flex;
  align-items: center;
  p {
    margin-right: 15px;
  }
}

.accepted-message {
  color: $green;
}

.refused-message {
  color: $red;
}

