.navbar {
  background-color: $light-blue;
  height: 80px;
}

.navbar-right {
  a {
    margin-right: 15px;
    padding-bottom: 14px;
    color: $gray;
    border-bottom: 3px solid $gray;
    &:hover {
      text-decoration: none;
      color: $black;
      border-bottom: 3px solid $black;
    }
  }
}



.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
