.navbar ul {
  display: flex;
  li {
    margin: auto 10px;
    color: black;
    font-weight: bold;
  }
}

#home-page{
  border: none;
}

.navbar a {
  color: rgb(255, 255, 255);
  font-weight: bold;
  &:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: solid white;
  }
}

.navbar-rent-your-dog {
  justify-content: space-between;
  background: rgba(140, 82, 158, 0.8);
}

.navbar-rent-your-dog .navbar-collapse {
  flex-grow: 0;
}

.navbar-rent-your-dog .navbar-brand img {
  width: 40px;
}

.text-dark{
  color: #000000 !important;
}
