.navbar ul {
  display: flex;
  li {
    margin: auto 10px;
    color: $gray;
  }
}

.navbar a {
  color: $gray;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.navbar-rent-your-dog {
  justify-content: space-between;
  background: #3E7995;
}

.navbar-rent-your-dog .navbar-collapse {
  flex-grow: 0;
}

.navbar-rent-your-dog .navbar-brand img {
  width: 40px;
}
